@import url('https://fonts.googleapis.com/css?family=Anton|Passion+One&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 0;
}

.nav-logo {
  font-family: 'Passion One';
  font-size: 3.5rem;
  color: rgba(255, 255, 255, 0.9);
  transition: 0.1s;
}

.nav-logo:hover {
  color: rgba(255, 255, 255, 0.65);
  cursor: pointer;
}

.nav-search {
  width: auto;
  display: flex;
  align-items: center;
}
